<div class="fretboard" ref:fretboard></div>
<script>
  'use strict';

  export default {
    oncreate() {
      this.renderData();
    },
    methods: {
      textWidth: function (svg, text) {
        let textWidth = [];

        svg.append('g')
          .selectAll('.dummyText')
          .data([text])
          .enter()
          .append("text")
          .attr("font-family", "sans-serif")
          .attr("font-size", "14px")
          //.attr("opacity", 0.0)      // not really necessary
          .text(d => d)
          .each(function (d, i) {
            const thisWidth = this.getComputedTextLength();
            textWidth.push(thisWidth);
            this.remove() // remove them just after displaying them
          });
        return textWidth[0];
      },
      renderData() {
        const numFrets = 13;
        const frets = this.get('frets');
        const name = this.get('name');
        const roots = this.get('roots');

        const numStrings = frets.length;

        const svg = d3.select(this.refs.fretboard).append('svg');
        const nameWidth =  Math.ceil(this.textWidth(svg, name));

        //Width and height
        const w = 11 * numStrings;
        const h = 10 + 10 * numFrets;
        const padding = Math.max(40, nameWidth - w);
        const topPad = 25;
        const bottomPad = 20;

        console.log(`padding: ${padding}`);

        const stringScale = d3.scaleLinear().domain([0, numStrings - 1]).range([padding / 2, w + padding / 2]);
        const fretScale = d3.scaleLinear().domain([0, numFrets - 1]).range([topPad, h + topPad]);

        console.log(`stringScale(-1): ${stringScale(-1)}`);

        svg.attr('width', w + padding)
          .attr('height', h + topPad + bottomPad);

        const fretboardElem = svg.append('g');
        fretboardElem.append('text')
          .attr('text-anchor', 'middle')
          .attr('transform', 'translate(0, 12)')
          .attr('x', (w + padding) / 2)
          .attr('y', 0).text(name);

        const stringLines = fretboardElem.append('g').selectAll('line')
          .data(frets)
          .enter()
          .append('line');

        stringLines.attr('x1', (d, i) => stringScale(i))
          .attr('x2', (d, i) => stringScale(i))
          .attr('y1', fretScale(0))
          .attr('y2', fretScale(numFrets - 1))
          .attr('stroke', 'black');

        const fretLines = fretboardElem.append('g').selectAll('line')
          .data([1,2,3,4,5,6,7,8,9,10,11,12,13])
          .enter()
          .append('line');

        fretLines.attr('y1', (d, i) => fretScale(i))
          .attr('y2', (d, i) => fretScale(i))
          .attr('x1', stringScale(0))
          .attr('x2', stringScale(numStrings - 1))
          .attr('stroke', 'black')
          .attr('stroke-width', (d, i) => (i === 0) ? 3 : 1);

        const dots = fretboardElem.append('g')
          .attr('transform', `translate(0, ${(-h / (2 * (numFrets - 1)))})`).selectAll('circle')
          .data(frets)
          .enter()
          .append('g')
          .attr('transform', (d, i) => `translate(${stringScale(i)} 0)`);

        dots.selectAll("g").data(d => d).enter().
        append('circle')
          .attr('cy', d => fretScale(d))
          .attr('style', d => (d !== 0) ? 'fill: black': 'fill: white')
          .attr('stroke', 'black')
          .attr('r', 4);

        const scaleroots = fretboardElem.append('g')
          .attr('transform', `translate(0, ${(-h / (2 * (numFrets - 1)))})`)
          .selectAll('circle').data(roots).enter().append('circle');

        scaleroots.attr('cx', (d, i) => stringScale(i))
          .attr('cy', d => fretScale(d))
          .attr('style', d => (d !== 0) ? 'stroke: white' : 'fill: black')
          .attr('stroke', 'black')
          .attr('r', d => (d === 0) ? 2 : 3);

//        scaleroots.attr('cx', (d, i) => stringScale(i))
//          .attr('cy', d => (d === 0) ? fretScale(12) : fretScale(d))
//          .attr('style',  'stroke: white')
//          .attr('stroke', 'black')
//          .attr('r', 3);


        fretboardElem.append('g').selectAll('text').data([5,7,9,12]).enter().append('text')
          .text(d => d)
          .attr('y', d => fretScale(d))
          .attr('x', d => Math.floor(stringScale(-1))+9)//(d < 10) ? 13 : 14)
          .attr('text-anchor', 'end');
      }

    }
  };
</script>