<div id="helpModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Help</h4>
      </div>
      <div class="modal-body">


        <div class="container-fluid">
          <h1>Chord Charts - beta</h1>
          Welcome to the Chord Charts site. This site provides string instrument players (guitar, banjo, ukulele,
          mandolin, etc)
          with a reference to chord fingerings all over the fretboard. It supports any number of strings and any tuning.
          This
          site was an outgrowth of command line tools I developed to help me when I encountered an unfamiliar chord on a
          jazz chart or needed
          a fingering for a chord at a particular location the fretboard. It differs from other tools I have seen in
          that the
          chord names are parsed so you are not locked into a pre-configured chord list, alternate tunings are
          supported, it handles chord
          progressions, shows arpeggio patterns, and can name chords when given a fingering.
          <p></p>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#chordHelpTab">Chords</a></li>
            <li class="nav"><a data-toggle="tab" href="#scaleHelpTab">Scales</a></li>
          </ul>
          <div class="tab-content">
            <div id="chordHelpTab" class="tab-pane fade in active">
              <h3>Inputs</h3>
              The <strong>Chord</strong> field accepts a variety of inputs - Chord names (e.g. Am, GM9, F#m7b5), chord
              fingerings (x 0 2 2 2 0), pitch class sets {0 1 4 7 9},
              comma separated lists of chord names or fingerings, and chord names with any of the commands below
              prefixed to
              them.
              <p></p>
              The <strong>Fret span</strong> field specifies how wide apart the fingering of the chord is allowed to be.
              For example, a
              fretspan of 1 means all the chord tones will be on the same fret (such as Am7 at the fifth fret in
              standard guitar tuning).
              <p></p>
              The <strong>Tuning</strong> field accepts tunings in two formats:
              <ul>
                <li>List of note names - <kbd>EADGBE</kbd></li>
                <li><a href="http://www.jonimitchell.com/music/notation.cfm" target="_blank">Joni Mitchell notation</a> - <kbd>E55545</kbd></li>
              </ul>
              The tuning dropdown list will remember the tunings you enter to make it easy to switch between the tunings
              you use.
              You are not restricted to guitar tunings. Banjo, ukulele and other string instruments are supported, just
              enter the appropriate tuning.
              <p>
              </p>
              The <strong>Shell</strong> checkbox will cause the chord generation algorithm to select chords in shell
              voicing which is
              the chord with no 5th, the 7 and only the highest extension. As an example an E11 contains the R, 3, 5,
              dom 7, 9 and 11. The
              E11 shell contains R 3 7 11. These voicings are commonly used in jazz.
              <p></p>
              The <strong>Jazz voicings only</strong> checkbox is probably misnamed, but the idea is to generate chords
              with no repeated tones.
              The E major chord most familiar to guitarists (0 2 2 1 0 0) contains 3 E's, 2 B's and 1 G#. Selecting this
              option will
              only return 3 note chords with exactly 1 E, G# and B (e.g. x x 2 1 0 x).
              <h3>Commands</h3>
              The <strong>Chord</strong> field entry can be refined with the following commands.
              <ul>
                <li>root: - Renders the chord with the Root note (R) as the lowest note.</li>
                <li>drop2: - Renders the chord in Drop 2 voicing.</li>
                <li>drop24: - Renders the chord in Drop 2 and 4 voicing.</li>
                <li>shell: - Renders the chord as a shell chord (no 5, and only the highest extension).</li>
              </ul>
              <h3>Examples</h3>
              <ul>
                <li><kbd>Am7</kbd> - Renders all possible fingerings of the Am7 chord.</li>
                <li><kbd>Am7@5</kbd> - Renders all possible fingerings of the Am7 chord with at least 1 note at the 5th
                  fret.
                </li>
                <li><kbd>drop2: Am7</kbd> - Renders all possible fingerings of the Am7 chord using Drop 2 voicing.</li>
                <li><kbd>Am7, D7, GM7</kbd> - Renders the closest fingerings for the three chords making up this
                  progression.
                </li>
                <li><kbd>root: Am7, drop2: D7, shell: GM9</kbd> - Yes, you can get this specific!</li>
                <li><kbd>0 2 2 1 0 0</kbd> - Identifies most likely chord (E) and renders it.</li>
                <li><kbd>0 2 2 1 0 0, x 0 2 2 1 0</kbd> - Identifies and renders this list of chords (E and Am).</li>
                <li><kbd>{0 1 2 7}, A {0 1 2 3 e}</kbd> - Specify a pitch class set with an optional starting note,
                  which defaults to C if not specified.
                </li>
              </ul>
              (<strong>NOTE:</strong> <em>The code for the chord progressions currently just uses a distance measure
              between
              the chords, so it makes odd choices at times. Ideally it would take voice leading into account too so that
              they sound
              'right'.</em>)
            </div>
            <div id="scaleHelpTab" class="tab-pane fade">
              <h3>Inputs</h3>
              The <strong>Scale</strong> field presents a drop down of common scales
              (modes of the Major scale and of the Harmonic Minor scale, major and minor pentatonic scales)
              as well as allowing you to specify any set of scale degrees (for example: <kbd>C 2 b3 5 b6</kbd> gives the <a href="https://en.wikipedia.org/wiki/Japanese_mode" target="_blank">Japanese mode</a>
              starting on C)
              <p></p>
              The <strong>Tuning</strong> field accepts tunings in two formats:
              <ul>
                <li>List of note names - <kbd>EADGBE</kbd></li>
                <li><a href="http://www.jonimitchell.com/music/notation.cfm" target="_blank">Joni Mitchell notation</a> - <kbd>E55545</kbd></li>
              </ul>
              The tuning dropdown list will remember the tunings you enter to make it easy to switch between the tunings
              you use.
              You are not restricted to guitar tunings. Banjo, ukulele and other string instruments are supported, just
              enter the appropriate tuning.
              <h3>Examples</h3>
              <ul>
                <li><kbd>C Phrygian</kbd> - Phrygian mode starting on C</li>
                <li><kbd>D 2 3 #4 #5 #6</kbd> - Whole tone scale starting on D</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
