<div class="row">
  <div id="scaleRow" class="form-group col-md-2">
    <label for="scaleInput" title="Examples: C major, G mixolydian, C 1 2">Scale:</label>
    <input type="text"
           on:input="handleScaleChange(event)"
           id="scaleInput"
           class="form-control"
           bind:value='scaleName'
           placeholder="Enter scale here"
           required>
  </div>
  <div class="col-md-2">
    <label>Tuning: </label>
    <Tuning ref:scaleTuning></Tuning>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-1">
    <input type="button" ref:scaleSubmitButton id="scaleSubmitButton" class="btn btn-primary" value="Submit"
           on:click="handleSubmit(event)"/>
  </div>
  <div class="form-group col-md-1">
    <input type="button" ref:scaleClearButton id="scaleClearButton" class="btn btn-default" value="Clear"
           on:click="handleClear(event)"/>
  </div>
</div>

<script>
  'use strict';

  import ChordService from '../ChordService';
  import FretboardList from './FretboardList.html';
  import Spinner from 'spin';
  import Tuning from './Tuning.html';
  import Awesomplete from 'awesomplete';
  import 'awesomplete/awesomplete.css';

  export default {
    data() {
      return {
        scaleName: ''
      }
    },
    components: {
      FretboardList,
      Tuning
    },
    oncreate() {
      const rootMatcher = /([acdefgABCDEFG][b#\u266D\u266F]?)/;
//      const cs = new ChordService("http://localhost:8080");
      const cs = new ChordService(".");
      this.set({cs: cs, rootMatcher: rootMatcher});
      this.refs.scaleSubmitButton.disabled = true;
      this.fretboard = [];
      const _this = this;

      document.getElementById("scaleInput")
        .addEventListener("keyup", function (event) {
          event.preventDefault();
          if (event.keyCode === 13) {
            document.getElementById("scaleSubmitButton").click();
          }
        });

      _this.get('cs').supportedScales().then(scales => {
      new Awesomplete(document.getElementById("scaleInput"), {
        list: scales,
        data: function (text, input) {
          return input.slice(0, input.indexOf(" ")) + " " + text;
        },
        filter: Awesomplete.FILTER_STARTSWITH,
        item: function (text, input) {
          const html = input.trim() === "" ? text : text.replace(RegExp(Awesomplete.$.regExpEscape(input.trim()), "i"), "<mark>$&</mark>");
          return Awesomplete.$.create("li", {
            innerHTML: html,
            "aria-selected": "false"
          });
          },
        replace: function(text) {
          _this.set({scaleName: text})
        },
        sort: function(a, b) {
          if (a === b) return 0;
          else if (a < b) return -1;
          else return 1;
        }
      })});
    },
    methods: {
      transformSymbols: function (s) {
        return s.replace(/b/g, '\u266D').replace(/#/g, '\u266F');
      },
      handleClear: function (event) {
        this.fretboard.map(f => f.destroy());
        this.fretboard = [];
        this.set({scaleName: ""});
        this.refs.scaleSubmitButton.disabled = true;
      },
      handleSubmit: function (event) {

        function renderFretboard(frets) {
          _this.fretboard.push( new FretboardList({
            target: document.getElementById('fretboardList'),
            // data: {frets: [[0,5,8,12],[0,3,7,12],[2,7,10],[2,5,9],[1,5,10],[0,5,8,12]],name:"Am"}
            data: frets
          }));
        }

        const _this = this;
        const tuning = _this.refs.scaleTuning.tuning();

        const root = _this.get('rootMatcher').exec(_this.get('scaleName').trim())[0];
        console.log(root);
        const scale = _this.get('scaleName').trim().slice(root.length).trim();
        console.log(scale);
        _this.get('cs').scale(root, scale, tuning).then(scale => {
          renderFretboard(scale)
        });
      },
      handleScaleChange: function (event) {
        const scaleName = this.get('scaleName');
        if (!_.isEmpty(scaleName)) {
          if (_.includes(scaleName, "b") || _.includes(scaleName, "#")) {
            this.set({scaleName: this.transformSymbols(scaleName)});
          }
          this.refs.scaleSubmitButton.disabled = false;
        } else {
          this.refs.scaleSubmitButton.disabled = true;
        }
      }
    }
  }
</script>