.chord {
  padding-top:   25px;
  padding-left:  10px;
  padding-right: 10px;
  float:         left;
}

.footer {
  clear: both;
}

img {
  padding-left:  3px;
  padding-right: 3px;
}

g>line {
  shape-rendering: crispEdges;
}

g>circle {
  shape-rendering: geometricPrecision;
}

.spinner {
  display: block;
  height: 200px;
  width: 200px;
  position: relative !important;
  margin-top: 60px;
  margin-bottom: 0px;
}

.chordBlock {
  background-color: hsl(180, 100%, 99.6%);
  border: 1px solid hsl(0, 0%, 88%);
  margin: 4px;
  display: flex;
  float: left;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
  }
}
