<div class="input-group">
    <input type="text" class="form-control" bind:value="tuning" placeholder="EADGBE">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul id="tuning-dropdown-menu" class="dropdown-menu dropdown-menu-right" role="menu">
            <li ng-repeat="tuning in tunings"><a href="#" ng-click="chord.changeTuning(tuning)">{{tuning | transformSymbols | capitalize}}</a></li>
        </ul>
    </div>
</div>
<script>

  'use strict';
  export default {
    data() {
      return {
        tuning: ''
      }
    },
    oncreate() {
    },
    methods: {}
  };
</script>
